{% extends 'base.html' %}
{% block title %}
Titulo bloco
{% endblock %}
{% block main %}
<h1 class="programe_facil">Olá MundoOOO!!!!!!!!!!!!!!!!!</h1>



<h2>Condicionais</h2>
{% if sexo == 'm' and sexo == 'M'%}
    Olá Senhor {{nome}}
{% elif sexo == 'f'%}
    Olá Senhora {{nome}}
{% else %}
    Olá {{nome}}
{% endif %}

<h2>Loops</h2>
<ul>
{% for pessoa in lista  %}
    {% if pessoa.sexo == 'm' or pessoa.sexo == 'M' %}
        <li>Olá Senhor {{pessoa.nome}}</li>
    {% elif pessoa.sexo == 'f' %}
        <li>Olá Senhora {{pessoa.nome}}</li>
    {% else %}
        <li>Olá {{pessoa.nome}}</li>
    {% endif %}
{% endfor %}
</ul>

<button class="btn btn-info" onClick="olaMundo()">Clique Aqui</button>

{% endblock %}

{% block footer %}
    {% include  'footer.html' with pnome=nome %}
{% endblock %}